
body {
  background-image: url("https://i.pinimg.com/originals/dd/9e/55/dd9e5513cde8a01557f77ff9eeee9845.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
